
#uk {
    fill: rgba(0, 147, 184, 0.14);
    stroke: rgba(0, 184, 255, 0.64);
    stroke-width: 1.5;
}

#axes {
    stroke: rgba(255, 255, 255, 0.21);
    stroke-width: 0.5;
}

.graticule {
    fill: none;
    stroke: rgba(255, 255, 255, 0.28);
    stroke-width: .5px;
}

.land {
    fill: rgba(0, 147, 184, 0.14);
    stroke: rgba(0, 184, 255, 0.64);
    stroke-width: 1.5;
}

.beacon {
    fill: rgba(147, 246, 255, 0.26);
    stroke: rgba(140, 218, 218, 1);
    stroke-width: 4;
    -webkit-filter: drop-shadow(12px 12px 7px black);
}

.beaconAura {
    fill: rgba(147, 246, 255, 0);
    stroke: rgba(140, 218, 218, 1);
    stroke-width: 1;
    /*-webkit-filter: drop-shadow(12px 12px 7px black);*/
}

.beaconAI {
    fill: rgba(226, 94, 94, 0.35);
    stroke: rgba(255, 0, 0, 1);
    stroke-width: 4;
    -webkit-filter: drop-shadow(12px 12px 7px black);
}

.beaconAIAura {
    fill: rgba(226, 94, 94, 0);
    stroke: rgba(255, 0, 0, 1);
    stroke-width: 1;
}

.turret {
    fill: rgba(61, 255, 43, 0.26);
    stroke: rgb(31, 218, 0);
    stroke-width: 4;
    -webkit-filter: drop-shadow(12px 12px 7px black);
}

.turretAura {
    fill: rgba(92, 116, 39, 0.61);
    stroke: rgb(93, 218, 40);
    stroke-width: 1;
    /*-webkit-filter: drop-shadow(12px 12px 7px black);*/
}

.turretAI {
    fill: rgba(1, 226, 76, 0.35);
    stroke: rgb(32, 120, 23);
    stroke-width: 4;
    -webkit-filter: drop-shadow(12px 12px 7px black);
}

.turretAIAura {
    fill: rgba(31, 15, 15, 0.73);
    stroke: rgb(49, 255, 0);
    stroke-width: 1;
}

.beaconAIAnim {
    fill: rgba(226, 94, 94, 0.35);
    stroke: rgba(255, 0, 0, 1);
    stroke-width: 1;
    -webkit-filter: drop-shadow(12px 12px 7px #de0600);
}

.beaconAnim {
    fill: rgba(147, 246, 255, 0.26);
    stroke: rgba(0, 255, 255, 0.5);
    stroke-width: 1;
    -webkit-filter: drop-shadow(12px 12px 7px #34c6c3);
}

.beaconOuterRadius {
    fill: rgba(147, 246, 255, 0.1);
}

.beaconOuterRadiusAI {
    fill: rgba(226, 94, 94, 0.1);
}

.lumbot {
    fill: #fff;
    stroke: #93F6FF;
    stroke-width: 2;
    -webkit-filter: drop-shadow(12px 12px 7px black);
}

.lumbotAI {
    fill: #fff;
    stroke: rgba(255, 0, 0, 1);
    stroke-width: 2;
    -webkit-filter: drop-shadow(12px 12px 7px black);
}

.lumbotOuterRadius {
    fill: rgba(147, 246, 255, 0.1);
}

.lumbotOuterRadiusAI {
    fill: rgba(226, 94, 94, 0.1);
}

.lumbotAnim {
    fill: rgba(255, 255, 255, 0.9);
    stroke: rgba(255, 255, 255, 0.1);
    stroke-width: 1;
    -webkit-filter: drop-shadow(12px 12px 7px black);
}

.item {
    fill: #f4ff3e;
    stroke: #fff80b;
    stroke-width: 2;
    -webkit-filter: drop-shadow(12px 12px 7px black);
}

.cursor {
    fill: none;
    stroke: #9DE0FA;
    stroke-width: 3;
    /*-webkit-filter: drop-shadow(12px 12px 7px black);*/
}

.ring {
    fill: none;
    stroke: #93F6FF;
}

.path {
    stroke: rgba(255, 255, 255, 0.35);
    stroke-width: 1;
}

.lum {
    animation: hideshow 1s ease infinite;
}

@keyframes hideshow {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
