@import url(http://fonts.googleapis.com/css?family=Audiowide);

html, body {

    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    overflow: hidden;
    background-color: rgb(41, 41, 41) !important;
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

#mainPane {
    height: 100%;
    overflow: hidden;
    font-size: 0;
}

#mainPane > div {
    display: inline-block;
    padding: 0px;
    overflow: hidden;
    height: 100%;
}

#leftPane {
    width: 80%;
}

#rightPane {
    width: 19.91%;
    background-color: rgb(56, 56, 56);
    max-width: 20%;
    border-left: 1px solid rgb(124, 124, 124);
}

.toolbar {
    width: 100%;
    /*padding-top: 5px;
    padding-right: 5px;
    padding-left: 8px;*/
    height: 48px;
    background-color: rgb(48, 132, 173);
}

.toolbardark {
    height: 48px;
    width: 100%;
    background-color: rgb(112, 112, 112);
}

#title {
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    display: table-caption;
    padding-left: 20px;
    padding-top: 12px;
}

#buttons {
    color: white;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    padding-top: 5px;
}

#buttons #ebutton, #nbutton {
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 4px;
    width: 70px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#buttons div {
    display: inline-block;
}

#buttons > div {
    margin-left: 2%;
}

#ebutton:hover, #nbutton:hover {
    color: gray;
    background-color: white;
    border: 1px solid gray;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#energyImage {
    background-image: url("/img/icons/energy.png");

    display: inline-block;
    height: 20px;
    width: 22px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    -webkit-filter: brightness(10);
    filter: brightness(10);
}

#NotificationsImage {
    background-image: url("/img/icons/user.png");
    display: inline-block;
    height: 20px;
    width: 22px;
    background-size: 16px 16px;
    background-position-x: 5px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    -webkit-filter: brightness(10);
    filter: brightness(10);
}

#NotificationsAnimation {
    position: absolute;
    color: rgb(255, 204, 0);
    font-size: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.59);
    /* box-shadow: 10px 10px 5px #888888; */
    z-index: 999;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

}

#authContainer {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 25%;
}

#authBox {
    border: 5px solid rgb(48, 132, 173);
    border-radius: 18px;
    padding: 30px;
    width: 281px;
    margin: 0 auto;
    /*top: 25%;*/
    background-color: rgba(255, 255, 255, 0.08);
    display: none;
}

#authBox input {
    border: 3px solid rgb(48, 132, 173);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 13px;
    background: rgba(255, 255, 255, 0.11);
    margin: 0 0 10px 0;
    width: 250px;
    color: white;
    border-radius: 6px;
    font-size: 18px;
}

/*#container{
	overflow: hidden;
}*/
#authBox button {
    border: 3px solid rgb(48, 132, 173);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background: rgb(48, 132, 173);
    margin: 0 0 10px 0;
    color: white;
    font-size: 20px;
    width: 137px;
    border-radius: 6px;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#authBox button:hover {
    border: 3px solid rgb(48, 132, 173);
    background: rgba(70, 70, 70, 0);
    color: gray;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    padding: 2px 0px 0px 0px;
    margin-left: 22px;
}

#buttons div:hover #energyImage, #buttons div:hover #NotificationsImage {
    -webkit-filter: brightness(1);
    filter: brightness(1);

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#bottomToolbar {
    bottom: 0;
    padding: 5px;
    background-color: rgb(48, 132, 173);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: lighter;
    height: 71px;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    width: 100%;
    display: none;

}

.transition {
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

#content {
    width: 100%;
    display: inline;
    height: 100%;
    position: fixed;
    text-align: center;
}

#gameContent {
    height: 100%;
    width: 100%;
}

.menu {
    position: absolute;
    /*right: 0;*/
    height: 100%;
    background-color: rgb(43, 41, 41);
    width: 20%;
    color: white;
    border-left: 1px solid rgb(48, 132, 173);
    padding: 20px;
}

.menu li {
    list-style-type: none;
    margin-bottom: 10px;
    border: 1px solid rgb(48, 132, 173);
    padding: 8px;
    /*text-align: center;*/
    border-radius: 5px;

    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.menu li div {
    display: inline-block;
    vertical-align: top;
}

.menu li:hover {
    background-color: rgba(255, 255, 255, 0.29);
}

.menu ul {
    padding: 0px;
}

#avatarcontainer {
    height: 25%;
    border-bottom: 1px solid gray;
}

#avatarstats {
    text-align: center;
    margin-top: -59px;
    color: whitesmoke;
    position: absolute;
    z-index: 20;
    background: rgb(78, 78, 78);
    border-top: 1px solid gray;
}

#avatarstats div {
    display: inline-block;
    border: 1px solid rgb(48, 132, 173);
    padding: 2px;
    font-size: 6px;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    margin: 4px;
}

#avatarimage {
    height: 100%;
}

#message {
    position: absolute;
    bottom: 20px;
    padding: 30px;
    background-color: rgb(48, 132, 173);
    color: white;
    width: 778px;
    margin-left: 2%;
    font-size: 25px;
    text-align: center;
    visibility: none;
    border-radius: 5px;
}

#loading {
    position: absolute;
    top: 20%;
    padding: 30px;
    background-color: rgb(43, 43, 43);
    color: white;
    width: 90%;
    height: 50%;
    margin-left: 2%;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    /* display: none; */
    border-radius: 30px;
    z-index: 999;
    border: 7px solid rgb(48, 132, 173);
}

#loadingAnim {
    height: 80%;
    background-image: url("/img/icons/loading.svg");
    background-repeat: no-repeat;
    background-size: 60% 80%;
    background-position: center;
}

#loadingText {
    font-size: 50px
}

.meter {
    height: 10px;
    /*position: relative;*/
    background: #FFF;
    border: 1px solid rgb(155, 155, 155);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*position: absolute;*/
    width: 15px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    /*top: 20px;*/
}

.meter > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(48, 132, 173);
    position: relative;
    overflow: hidden;
}

#actionslist {
    height: 100%;
    font-size: 16px;
    list-style-type: none;
    padding: 3px;
    margin: 0px;
    color: white;
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#actionslist > li {
    height: 40px;
    border: 1px solid gray;
    margin-top: 3px;
    border-radius: 3px;
    padding: 2px;
}

#actionslist .itemAction {
    float: left;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
}

#actionslist .itemEnergy {
    padding-top: 3px;
    float: right;
}

.itemEnergy::after {
    background-image: url("/img/icons/energy.png");
    display: inline-block;
    height: 20px;
    width: 22px;
    content: "";
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    -webkit-filter: brightness(10);
}

#LumbotAvatar {
    height: 134px;
    width: 204px;
    z-index: 9;
    background-size: 58% 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/lumbot/lumbot.png");
    position: absolute;
    border-bottom: 1px solid gray;
}

#LumbotAvatarGlow {
    height: 73px;
    width: 93px;
    z-index: 7;
    background-color: rgb(162, 217, 248);
    margin-left: 54px;
    margin-top: 27px;
    border-radius: 100px;
    position: absolute;
    -webkit-filter: blur(10px);
    -moz-filter: blur(40px);
    -o-filter: blur(40px);
    -ms-filter: blur(40px);
    filter: blur(40px);
}

#LumbotAvatarHead {
    height: 134px;
    width: 204px;
    z-index: 10;
    background-size: 58% 85%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

#lumbotPopup {
    position: absolute;
    height: 100%;
    width: 80%;
    background: rgba(0, 0, 0, 0.71);
    top: 48px;
}

#lumbotPopup .lumbotContainer {
    width: 70%;
    height: 60%;
    margin: auto;
    background-color: rgb(60, 60, 60);
    border: 11px solid rgba(46, 139, 213, 1);
    border-radius: 20px;
    margin-top: 16%;
    text-align: center;
}

#lumbotPopup .lumbotContainer #closeItemButton {
    width: 90%;
    margin-top: 10px;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    background-color: rgba(46, 139, 213, 1);
    color: white;
    text-align: center;
    border-radius: 10px;
}

#lumbotPopup .lumbotContainer .lumbotSection {
    height: 71%;
    background-color: rgb(90, 90, 90);
    border-bottom: 1px solid gray;
}

#lumbotPopup .lumbotContainer .lumbotItems {
    height: 127px;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#lumbotPopup .lumbotContainer .lumbotItems::-webkit-scrollbar {
    display: none;
}

#lumbotPopup .lumbotContainer .lumbotItems .itemImg {
    height: 80%;
    width: 100px;
    margin-top: 14px;
    margin-right: 20px;
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/items/lumbotarmor.png");
    background-color: rgb(77, 77, 77);
    border: 4px solid gray;
    border-radius: 16px;
    display: inline-block;
    vertical-align: middle;
}

#lumbotPopup .lumbotContainer .lumbotSection .lumbotPreview {
    height: 309px;
    width: 550px;
    z-index: 10;
    background-size: 51% 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/lumbot/lumbot.png");
    position: absolute;
}

#lumbotPopup .lumbotContainer .lumbotSection .lumbotShadow {
    height: 100%;
    width: 100%;
    padding-top: 60px;
    margin: auto;
    -webkit-filter: blur(40px);
    -moz-filter: blur(40px);
    -o-filter: blur(40px);
    -ms-filter: blur(40px);
    filter: blur(40px);
}

#lumbotPopup .lumbotContainer .lumbotSection .activeStats {
    position: absolute;
    height: 115px;
    width: 114px;
    top: 152px;
    border: 6px solid gray;
    border-radius: 10px;
    right: 144px;
    z-index: 999;
}

#lumbotPopup .lumbotContainer .lumbotSection .lumbotHead {
    width: 550px;
    height: 309px;
    z-index: 11;
    position: absolute;
    margin-top: -309px;
    background-repeat: no-repeat;
    background-size: 51% 86%;
    background-position: center;
    /*background-image: url("../img/items/00001.png");*/
}

#lumbotPopup .lumbotContainer .lumbotSection .activeStats > div {
    height: 37px;
    width: 100%;
    font-size: 15px;
    color: white;
    padding-top: 18px;
}

#lumbotPopup .lumbotContainer .lumbotSection .lumbotShadow > div {
    height: 61%;
    width: 34%;
    margin: auto;
    background-color: rgb(0, 204, 255);
    border-radius: 100%;
}

#lumbotPopup .lumbotContainer .lumbotItems .itemImg .itemStats {
    width: 100%;
    height: 20px;
    margin-top: 81%;
}

#lumbotPopup .lumbotContainer .lumbotItems .itemImg .itemStats .itemStat {
    height: 20px;
    font-size: 8px;
    color: rgb(165, 160, 33);
    width: 31%;
    display: inline-block;
    margin-left: 2px;
}

#itemPopup {
    position: absolute;
    height: 100%;
    width: 80%;
    background: rgba(0, 0, 0, 0.71);
    top: 48px;
}

#itemPopup .itemContainer {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: rgb(60, 60, 60);
    border: 11px solid rgba(46, 139, 213, 1);
    border-radius: 20px;
    margin-top: 16%;
    text-align: center;
    padding: 18px;
}

#itemPopup .itemContainer > div {
    display: inline-block;
}

#itemPopup .itemContainer #itemImageContainer {
    width: 60%;
    height: 60%;
    border: 10px solid gray;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(80, 80, 80);
}

#itemPopup .itemContainer #itemImageContainer #itemImg {
    height: 100%;
    width: 100%;
    margin-top: 15px;
    background-size: 100% 100%;
    background-image: url("../img/items/lumbotarmor.png");
}

#itemPopup .itemContainer #itemImageContainer #itemGlow {
    height: 147px;
    width: 100%;
    margin-top: -40px;
    overflow: hidden;
}

#itemPopup .itemContainer #itemImageContainer #itemGlow > div {
    background-color: rgba(46, 139, 213, 0.66);
    border-radius: 69px;
    height: 99px;
    width: 111px;
    margin: auto;
    margin-top: -77px;
    margin-left: 43px;
    display: -webkit-box;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

#itemPopup .itemContainer #itemDetails {
    width: 60%;
    height: 20%;
}

#itemPopup .itemContainer #itemDetails > div {
    height: 20px;
    width: 100%;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
}

#itemPopup .itemContainer #itemDetails > div > div {
    height: 30px;
    width: 45%;
    display: inline-block;
    color: white;
    font-size: 10px;
}

#itemPopup .itemContainer #closeItemButton {
    width: 90%;
    margin-top: 10px;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    background-color: rgba(46, 139, 213, 1);
    color: white;
    text-align: center;
    border-radius: 10px;
}
