@import url(http://fonts.googleapis.com/css?family=Audiowide);

body {

    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#container {
    display: table;
    width: 100%;
    /*height:100%;*/
    table-layout: fixed;
}

#mainPane {
    display: table-row;
    height: 100%;
}

#leftPane {
    display: table-cell;
    width: 80%;
    /*height:100%;*/
    background-color: red;
}

#rightPane {
    display: table-cell;
    width: 20%;
    /*height:100%;*/
    background-color: green;
}

#toolbar {
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 8px;
    height: 48px;
    background-color: rgb(48, 132, 173);
}

#title {
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 30px;
    float: left
}

#buttons {
    color: white;
    float: right;
    margin-right: 15px;
}

#buttons #ebutton, #nbutton {
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 4px;
    width: 60px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#buttons div {
    display: inline-block;
}

#ebutton:hover, #nbutton:hover {
    color: gray;
    background-color: white;
    border: 1px solid gray;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#energyImage {
    background-image: url("/img/icons/energy.png");

    display: inline-block;
    height: 20px;
    width: 22px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    -webkit-filter: brightness(10);
    filter: brightness(10);
}

#NotificationsImage {
    background-image: url("/img/icons/user.png");
    display: inline-block;
    height: 20px;
    width: 22px;
    background-size: 16px 16px;
    background-position-x: 5px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    -webkit-filter: brightness(10);
    filter: brightness(10);
}

#authContainer {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 25%;
}

#authBox {
    border: 5px solid rgb(48, 132, 173);
    border-radius: 18px;
    padding: 30px;
    width: 281px;
    margin: 0 auto;
    /*top: 25%;*/
    background-color: rgba(255, 255, 255, 0.08);
    display: none;
}

#authBox input {
    border: 3px solid rgb(48, 132, 173);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 13px;
    background: rgba(255, 255, 255, 0.11);
    margin: 0 0 10px 0;
    width: 250px;
    color: white;
    border-radius: 6px;
    font-size: 18px;
}

/*#container{
	overflow: hidden;
}*/
#authBox button {
    border: 3px solid rgb(48, 132, 173);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background: rgb(48, 132, 173);
    margin: 0 0 10px 0;
    color: white;
    font-size: 20px;
    width: 137px;
    border-radius: 6px;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#authBox button:hover {
    border: 3px solid rgb(48, 132, 173);
    background: rgba(70, 70, 70, 0);
    color: gray;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    padding: 2px 0px 0px 0px;
    margin-left: 22px;
}

#buttons div:hover #energyImage, #buttons div:hover #NotificationsImage {
    -webkit-filter: brightness(1);
    filter: brightness(1);

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#bottomToolbar {
    bottom: 0;
    padding: 5px;
    background-color: rgb(48, 132, 173);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: lighter;
    height: 71px;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    width: 100%;
    display: none;

}

.transition {
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

#content {
    width: 100%;
    display: inline;
    height: 100%;
    position: fixed;
    text-align: center;
}

#gameContent {
    height: 100%;
    width: 100%;
}

.menu {
    position: absolute;
    /*right: 0;*/
    height: 100%;
    background-color: rgb(43, 41, 41);
    width: 20%;
    color: white;
    border-left: 1px solid rgb(48, 132, 173);
    padding: 20px;
}

.menu li {
    list-style-type: none;
    margin-bottom: 10px;
    border: 1px solid rgb(48, 132, 173);
    padding: 8px;
    /*text-align: center;*/
    border-radius: 5px;

    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.menu li div {
    display: inline-block;
    vertical-align: top;
}

.itemEnergy {

    float: right;
}

.itemEnergy::after {
    background-image: url("/img/icons/energy.png");
    display: inline-block;
    height: 20px;
    width: 22px;
    content: "";
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 1px;
    -webkit-filter: brightness(10);
}

.menu li:hover {
    background-color: rgba(255, 255, 255, 0.29);
}

.menu ul {
    padding: 0px;
}

#avatarcontainer {
    height: 25%;
}

#avatarstats {
    text-align: center;
    margin-top: -77px;
}

#avatarstats div {
    display: inline-block;
    border: 1px solid rgb(48, 132, 173);
    padding: 2px;
    font-size: 10px;
    width: 100px;
    border-radius: 20px;
    margin: 4px;
}

#avatarimage {
    height: 100%;
}

#message {
    position: absolute;
    bottom: 20px;
    padding: 30px;
    background-color: rgb(48, 132, 173);
    color: white;
    width: 90%;
    margin-left: 2%;
    font-size: 25px;
    text-align: center;
    visibility: none;
    border-radius: 5px;
}

#loading {
    position: absolute;
    top: 20%;
    padding: 30px;
    background-color: rgb(48, 132, 173);
    color: white;
    width: 90%;
    height: 50%;
    margin-left: 2%;
    font-size: 25px;
    text-align: center;
    visibility: none;
    border-radius: 60px;
    z-index: 999;
}

#loadingAnim {
    height: 80%;
    background-image: url("/img/icons/loading.svg");
    background-repeat: no-repeat;
    background-size: 60% 80%;
    background-position: center;
}

#loadingText {
    font-size: 50px
}

.meter {
    height: 10px;
    position: relative;
    background: #FFF;
    border: 1px solid rgb(155, 155, 155);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 1px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    position: absolute;
    width: 21px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    top: 20px;
    margin-right: 28px;
}

.meter > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(48, 132, 173);

    /*	background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(43,194,83)),
          color-stop(1, rgb(84,240,84))
         );*/
    /*	background-image: -webkit-linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
         );
        background-image: -moz-linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
         );
        background-image: -ms-linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
         );
        background-image: -o-linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
         );
        -webkit-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);*/
    position: relative;
    overflow: hidden;
}
